<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/executiveStyles.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Planes de Entrenamiento!</title>
</head>

<header>
    <%- include ('parcial/header')%>
</header>
<!-- <h3>Eventos by Shake it Up!</h3>  -->
<body>
    <div class="Container1">
        <a href="/">
            <div class="imgContainer">
                <img src="/images/jpg/bull dogs 1.png" alt="Logo de Fit-net">
            </div>
        </a>
    <div>
</div>
    </div>
    <h1 class="title">Nuestros profesores te estan esperando! </h1>
    <div class="contenedorCarrousel" id="carrouselContainer">
        <ul>
            <li class="slide"><img src="\images\jpg\carrouselPictures\FIT - NET - wall.png" alt=""></li>
            <li class="slide"><img src="\images\jpg\carrouselPictures\PERSONAL - FIT . NET.png" alt=""></li>
            <li class="slide"><img src="\images\jpg\carrouselPictures\FIT - NET - wally.png" alt=""></li>
            <li class="slide"><img src="\images\jpg\carrouselPictures\FIT - NET.png" alt=""></li>
            <li class="slide"><img src="\images\jpg\carrouselPictures\FIT - NET (1).png" alt=""></li>
            <li class="slide"><img src="\images\jpg\carrouselPictures\FIT - NET (2).png" alt=""></li>
        </ul>
    </div>
</body>
<div class="divisorGeneral">
        <div class="TextDivisor"> <h2>~PROPUESTA PERSONALIZADA~</h2>
            Realizamos una propuesta totalmente personalizada y ajustada a cualquier presupuesto para que quienes estén interesados puedan contratar nuestros servicios.
            Generaremos un plan de rutina, iniciaremos un tipo de seguimiento ajustado y acorde a la situacion.
        </div>
        <div class="TextDivisor"><h2> ~DISEÑAMOS TU PLAN~</h2>
            De acuerdo a tu objetivo, y en busca de alcanzar esos resultados juntos, DISEÑAMOS tu plan a tu medida.
        </div>
</div>
<div class="title-img-container">
    <h1>¿Querés saber qué dicen nuestros clientes? Clickeá acá</h1>
    <img src="images/jpg/arrow.png" alt="">

</div>
<form class="famousOpinionForm">
    <label for="nombreFamoso">Selecciona un cliente:</label>
    <select id="nombreFamoso" name="nombreFamoso">
        <option value="JuanSebastianBresev">Juan Sebastián Bresev</option>
        <option value="MartinCanteros">Martín Canteros</option>
        <option value="NicolasMartinez">Nico Martinez</option>
        <option value="CristianAlvarado">Cristian Alvarado</option>
    </select>
    <button type="button" onclick="mostrarMensaje()">Mostrar Mensaje</button>
</form>

<!-- Contenedor para mostrar la imagen y el mensaje -->
<div id="mensajeContainer" style="display: none;">
    <!-- <img id="imagenFamoso" src="" alt="Imagen del famoso"> -->
    <p id="mensajeFamoso"></p>
</div>

<script>
    function mostrarMensaje() {
        var nombreFamosoSeleccionado = document.getElementById("nombreFamoso").value;
        // var imagenFamoso = document.getElementById("imagenFamoso");
        var mensajeFamoso = document.getElementById("mensajeFamoso");
        var mensajeContainer = document.getElementById("mensajeContainer");


        // Oculta el contenedor si no hay famoso seleccionado
        if (nombreFamosoSeleccionado === "") {
        mensajeContainer.style.display = "none";
        return;
    }

        // Muestra el contenedor
        mensajeContainer.style.display = "flex"; // Cambia "block" por "flex"

        // Asigna la imagen correspondiente al famoso
        // imagenFamoso.src = "/" + nombreFamosoSeleccionado + ".jpeg";

        // Mensaje personalizado para cada famoso
        var mensaje = "";
        switch (nombreFamosoSeleccionado) {
            case "JuanSebastianBresev":
                mensaje = "Juan Sebastián Bresev dijo: 'El plan es increíble. Pague un plan Plata, que me permitio tener acceso a un entrenamiento bien pro, donde estoy consiguiendo mi principal objetivo que es bajar de peso. Voy por musculacion en mi proximo plan.'";
                break;
            case "MartinCanteros":
                mensaje = "Martín Canteros dijo: 'Muy agitadas las clases. Yo pague el Plan mas alto, el oro. Invite a dos amigos mas y en este caso le pedi a los profes que nos armen una rutina grupal para entrenar en un parque al aire libre, ya que odio los gimnasios. Feliz, estamos haciendo mucho cardio y vemos los resultados, no solo en energia, sino que baje esos 5 kilos de mas que me molestaban.'";
                break;
            case "Nicolas Martinez":
                mensaje = "Nico Martinez dijo: 'Pague un Plan Clasico, en mi caso no busco crecer tanto en estructura muscular, sino mas bien tonificar, definir lo que tengo, el profe Javier me armo una rutina excelente y me hizo unas recomendaciones nutricionales que van dando muy buenos resultados.'";
                break;
            case "CristianAlvarado":
                mensaje = "Cristian Alvarado dijo: 'Pague el plan oro; yo busco un crecimiento muscular, y vengo creciendo como una bestia. Una buena dieta hipercalorica, basada en proteinas y un buen entrenamiento de fuerza, y eso que vengo de las superseries, estoy mas que satisfecho'";
                break;
            default:
                mensaje = "La rutina va acorde a lo que busco.";
                break;
        }

        // Asigna el mensaje al contenedor
        mensajeFamoso.textContent = mensaje;
    }
</script>

</html>
