<!doctype html>
<html lang="es">
	
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
		<link rel="stylesheet" href="indexStyles.css">
		<link rel="stylesheet" href="/css/header.css">
		
        <title>PLAN DE ENTRENAMIENTO ESTES DONDE ESTES</title>
        <meta name="description" content="Te acercamos tu rutina"/>
        			
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme-nearblack.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Raleway:100,400,300,500,600,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Dosis:100,300,400,600,700" rel="stylesheet" type="text/css">
        <link href="css/font-dosis.css" rel="stylesheet" type="text/css">
		<link href="css/et-line-icons.css" rel="stylesheet" type="text/css" media="all">  
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">    
        <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />	
		
		</head>

		<header>
			<%- include ('parcial/header')%>
		</header>
		<style>
			body {
				background-image: url(/images/jpg/pectoral.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-attachment: fixed;
				color: rgb(255, 70, 249);
				position: relative;
			}
			
			body::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.7); /* Ajusta los valores RGBA para el color y la transparencia */
				z-index: -1;
			}
		</style>

		<div style="text-align: center; margin-bottom: 16px;">
			<img src="/images/jpg/bull dogs 1.png" alt="Logo de FIT-NET" style="max-width: 50%;">
		</div>
	
		<section class="cover fullscreen image-bg overlay parallax">
		        <!-- <div class="background-image-holder">
		            <img alt="rescate barra movil" class="background-image" src="/images/jpg/shake.jpg">
		        </div> -->
		        <div class="container v-align-transform">
		            <div class="row">
		                <div class="text-center">
		                    <h2 class="mb16 bold">"PLAN FIT - NET"</h2>
		            </div>
		            </div>
		           </div>
		    
    <!-- <nav class="navBar">
        <ol>
        <li><a href="/">Inicio</a></li>
        <li><a href="executive">Quienes nos eligen</a><img  class="icono"  alt="" ></li>
		<li><a href="/contacts">Trabajá con nosotros</Table></a></li>
		<li><a href="/tragos">"Nuestras marcas"</a></li>
        </ol>
    </nav> -->
		        <div class="align-bottom relative-xs text-center">
		            <a class="btn btn-filled btn-lg mb32 mt-xs-40 inner-link" href="https://wa.me/5491131137755" target="_self">CONSULTAR ACA</a>
		        </div>
		    </section><a id="contacto" class="in-page-link"></a>
			
				<section>
					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center">
								<h4 class="uppercase mb16" style="color: #0c08f0; text-decoration: underline;">"ENTRENAMIENTOS PERSONALIZADOS"</h4>
								<!-- <p class="lead mb64" style="color: #0c08f0;">** Calidad al Mejor Precio **</p>  -->
								<div style="color: #f805d0;">Seguimientos Personales</div>
							</div>
						</div>
									
						</div>		
                        <br>
						<br>

						<div class="row">
						<div class="columna-1">         
						<div class="col-sm-6 col-md-4">
								<div id="fila-especial" class="row">
									<!-- Contenido de la fila especial -->
								</div>
								<div class="pricing-table pt-2 text-center">
									<h3 class="uppercase mb16" style="text-decoration: underline;">PLAN CLASICO</h3>
							
									<span class="price" style="color:#fafafa">Desde $25000 x mes</span>
									<p class="lead">Plan de Entrenamiento Basico</p>
									<a class="btn btn-white btn-lg btn-filled inner-link" href="https://wa.me/5491131137755" target="_self">LA QUIERO</a>
									<ul>
									<div>Seguimiento</div>
									<div>3 dias x semana</div>
									<br>
									<img src="/images/jpg/Plan Clásico.png" alt="Imagen 2" class="imagen-ajustable" style="width: 250px; height: auto;">
									<div>
										<br>
									</div>
									<p>RUTINA 3 DIAS + SEGUIMIENTO</p>
									<div>(Por Whats App)</div>
									<div class="caja">
									</div>
								<div>
										<br>
										<br>
									</div>
										<div>**Incluye**</div>
									<div>
										<br>
									</div>
										<div style="background-color: rgba(50, 48, 56, 0.466);
										border-radius: 15px;">
										<div style="text-decoration: underline; color: #fafafa;">Plan Básico de Entrenamiento</div><br>
											<div>¡Empieza tu viaje hacia una vida más saludable hoy mismo!</div><br>
											<div>¿Qué incluye nuestro Plan Básico de Entrenamiento?</div><br>
											
											<div>Rutinas diseñadas específicamente para tus necesidades y objetivos.</div>
											<div>Sesiones Semanales: 3 sesiones de entrenamiento por semana, con una duración de 45 minutos cada una.</div><br>
											<div>Acceso a Contenido Exclusivo: Videos y guías detalladas para mejorar tu técnica y rendimiento.</div><br>
											<div>Seguimiento de Progreso: Evaluaciones mensuales para monitorear tus avances y ajustar el plan según sea necesario.</div><br>
											<div>Soporte en Línea: Acceso a un grupo privado de soporte donde podrás resolver dudas y compartir tus experiencias con otros miembros.</div><br>
											<br><br><br><br><br><br><br><br>
											<div style="text-decoration: underline; color: #fafafa;">Beneficios de unirse a nuestro Plan Básico:</div><br>
											
											<div>Flexibilidad: Entrena en el momento y lugar que más te convenga.</div><br>
											<div>Motivación Constante: Mantén la motivación con metas claras y alcanzables.</div><br>
											<div>Resultados Garantizados: Mejora tu condición física y bienestar general de manera efectiva.</div><br>
											<div>¿Para quién es este plan?</div><br>
											
											<div>Nuestro Plan Básico de Entrenamiento está diseñado para principiantes que desean empezar a incorporar el ejercicio en su rutina diaria. Es ideal para quienes buscan mejorar su salud, aumentar su energía y sentirse mejor consigo mismos.</div><br>
											<br><br><br>
											<div style="text-transform: uppercase; text-decoration: underline; color: #fafafa;">Precio:</div><br>
											
											<div>Plan Mensual: $25000</div><br>
											<div>Plan Trimestral: $70000 (¡Ahorra $5000!)</div><br>
											<div>¡Inscríbete ahora y da el primer paso hacia una vida más activa y saludable!</div>
																	   
									</ul>
								</div>
							  </div>
							</div>  
					
							<div class="row">
							<div class="columna-2">         
							<div class="col-sm-6 col-md-4">
							<div class="pricing-table pt-2 boxed text-center emphasis">
							    <h3 class="uppercase mb16" style="text-decoration: underline;">PLAN PLATA</h3>
		                        <span class="price" style="color:#fafafa">Desde $40000 x mes</span>
		                        <p class="lead">Plan Intermedio de 4 dias </p>
								<a class="btn btn-white btn-lg btn-filled inner-link" href="https://wa.me/5491123398463" target="_self">LA QUIERO</a>
		                        <ul>
		                            <div>Seguimiento</div>
										<div>4 dias x semana</div>
										<br>
										<img src="/images/jpg/Plan Plata.png" alt="Imagen 2" class="imagen-ajustable" style="width: 250px; height: auto;">

										<div>
											<br>
										</div>
										<div class="caja">
										</div>
										<p>RUTINA 4 DIAS + SEGUIMIENTO</p>
										<div>(Por Whats App) + Llamados</div>
		                            <div>
										<br>
										<br>
									</div>
		                            <div>** Incluye **</div>
									<br>
									<div>
									
									</div>
									<div style="background-color: rgba(50, 48, 56, 0.466);
										border-radius: 15px;"><div style="text-decoration: underline; color: #fafafa;">Plan Plata Intermedio de Entrenamiento</div><br>
<div>¡Lleva tu entrenamiento al siguiente nivel con nuestro Plan Plata Intermedio!</div><br>
<div>¿Qué incluye nuestro Plan Plata Intermedio de Entrenamiento?</div><br>

<div>Rutinas avanzadas diseñadas específicamente para tus necesidades y objetivos.</div>
<div>Sesiones Semanales: 4 sesiones de entrenamiento por semana, con una duración de 60 minutos cada una.</div><br>
<div>Acceso a Contenido Exclusivo: Videos y guías detalladas para mejorar tu técnica y rendimiento.</div><br>
<div>Seguimiento de Progreso: Evaluaciones quincenales para monitorear tus avances y ajustar el plan según sea necesario.</div><br>
<div>Soporte en Línea: Acceso a un grupo privado de soporte donde podrás resolver dudas y compartir tus experiencias con otros miembros.</div><br>
<div>Planificación Nutricional: Asesoramiento mensual para optimizar tu dieta y mejorar tus resultados.</div><br>
<br><br><br><br>
<div style="text-decoration: underline; color: #fafafa;">Beneficios de unirse a nuestro Plan Plata:</div><br>

<div>Mayor Flexibilidad: Entrena en el momento y lugar que más te convenga.</div><br>
<div>Motivación Constante: Mantén la motivación con metas claras y alcanzables.</div><br>
<div>Resultados Mejorados: Mejora tu condición física y bienestar general de manera más efectiva.</div><br>

<div>¿Para quién es este plan?</div><br>

<div>Nuestro Plan Plata Intermedio de Entrenamiento está diseñado para personas con experiencia previa en el entrenamiento que desean intensificar su rutina y alcanzar nuevos objetivos. Es ideal para quienes buscan mejorar su rendimiento, aumentar su fuerza y resistencia, y llevar su salud y bienestar al siguiente nivel.</div><br>
<br>
<div style="text-transform: uppercase; text-decoration: underline; color: #fafafa;">Precio:</div><br>

<div>Plan Mensual: $40000</div><br>
<div>Plan Trimestral: $110000 (¡Ahorra $10000!)</div><br>
<div>¡Inscríbete ahora y da el siguiente paso hacia una vida más activa y saludable!</div>

	                           	                            
		                        </ul>
		                    </div>		                    
		                </div>
						</div>
						
						<div class="row">
						<div class="columna-3">         
						<div class="col-sm-6 col-md-4">
		                    <div class="pricing-table pt-2 text-center">
		                        <h3 class="uppercase mb16" style="text-decoration: underline;">PLAN ORO</h3>
		                        <span class="price" style="color:#fafafa">Desde $75000 x mes</span>
		                        <p class="lead">¡Para exigentes!</p>
		                        <a class="btn btn-white btn-lg btn-filled inner-link" href="https://wa.me/5491123398463" target="_self">LA QUIERO</a>
		                        <ul>
		                            <div>Seguimiento</div>
		                            <div>5 o 6 dias x mes</div>
									<br>
									<img src="/images/jpg/Plan Oro.png" alt="Imagen 2" class="imagen-ajustable" style="width: 250px; height: auto;">

									<div>
										<br>
									</div>
									<p>RUTINA HASTA 6 DIAS + SEGUIMIENTO</p>
										<div>(Por Whats App) + Llamados + Acompañamiento</div><div class="caja">
									</div>
									<div>
										<br>
										<br>
									</div>
									<div>** Incluye **</div>
									<div>
										<br>
									</div>
									<div style="background-color: rgba(50, 48, 56, 0.466);
										border-radius: 15px;"> <div style="text-decoration: underline; color: #fafafa;">Plan Oro de Entrenamiento</div><br>
<div>¡Alcanza tu máximo potencial con nuestro exclusivo Plan Oro de Entrenamiento!</div><br>
<div>¿Qué incluye nuestro Plan Oro de Entrenamiento?</div><br>

<div>Rutinas de alto rendimiento diseñadas específicamente para tus necesidades y objetivos.</div>
<div>Sesiones Semanales: 5 sesiones de entrenamiento por semana, con una duración de 90 minutos cada una.</div><br>
<div>Acceso a Contenido Premium: Videos y guías detalladas para mejorar tu técnica y rendimiento.</div><br>
<div>Seguimiento de Progreso: Evaluaciones semanales para monitorear tus avances y ajustar el plan según sea necesario.</div><br>
<div>Soporte Personalizado: Acceso a un entrenador personal y a un grupo privado de soporte donde podrás resolver dudas y compartir tus experiencias con otros miembros.</div><br>
<div>Planificación Nutricional Avanzada: Asesoramiento semanal para optimizar tu dieta y maximizar tus resultados.</div><br>
<div>Sesiones de Recuperación: Incluye sesiones de estiramiento y masajes deportivos para mejorar la recuperación y evitar lesiones.</div><br>

<div style="text-decoration: underline; color: #fafafa;">Beneficios de unirse a nuestro Plan Oro:</div><br>

<div>Flexibilidad Total: Entrena en el momento y lugar que más te convenga.</div><br>
<div>Motivación Constante: Mantén la motivación con metas claras y alcanzables.</div><br>
<div>Resultados Excepcionales: Mejora tu condición física y bienestar general de manera significativamente efectiva.</div><br>

<div>¿Para quién es este plan?</div><br>

<div>Nuestro Plan Oro de Entrenamiento está diseñado para personas exigentes que ya tienen experiencia previa en el entrenamiento y desean llevar su rendimiento al máximo nivel. Es ideal para quienes buscan superar sus límites, mejorar su fuerza y resistencia, y alcanzar un bienestar óptimo.</div><br>
<br><br>
<div style="text-transform: uppercase; text-decoration: underline; color: #fafafa;">Precio:</div><br>

<div>Plan Mensual: $75000</div><br>
<div>Plan Trimestral: $215000 (¡Ahorra $10000!)</div><br>
<div>¡Inscríbete ahora y transforma tu vida con nuestro Plan Oro de Entrenamiento!</div>

		                            
		                        </ul>
		                    </div>		                    
		                </div>
		            </div>		            
		        </div>
							</div>

		        
		    </section><a id="entradas" class="in-page-link"></a>
			
			<section>
		        <div class="container">
					<div class="row">
		                <div class="col-md-6 col-md-push-6 pt80 pt-xs-0">
		                    <div class="feature bordered text-center bg-secondary">
		                        
		                        <div class="mb40">
									<h3 class="mb8 uppercase" style="text-decoration: underline; color: #fafafa;">CONDICIONES Y FORMAS DE PAGO</h3>
		                            <p>A TRAVES:&nbsp;<br>Mercado Pago, Transferencia, Efectivo y otros.<br><br>DURACIÓN:<br>1 hs x dia / semana<br><br>REQUISITOS DE CONTRATACIÓN:<br>El pago mensual es exigencia para el Entrenamiento<br><br>RECOMENDACIONES NUTRICIONALES:<br>Si sos Plata y Oro, pedi tu RECOMENDACION NUTRICIONAL.</p>
		                        </div>
		                        
		                        
		                    </div>
		                    
		                </div>
		                <div class="col-md-6 col-md-pull-6">
		                    <div class="feature bordered hidden-xs hidden-sm">
		                        <h2 class="mb64 mb-xs-24" style="text-decoration:underline; color:#1606f7">Te acercamos el plan estes donde estes!</h2>
		                        <p>
		                            <strong>* Todos los planes incluyen un seguimiento<br>* Ofrecemos servicios personalizados a tu medida<br></strong>
		                        </p>
		                        
		                    </div>
		                    
		                </div>
		            </div>
		            
		        </div>
		        
		    </section><a id="testimonios" class="in-page-link"></a>
			
			<section class="bg-dark">
		        <div class="container">
		            <div class="row mb64 mb-xs-24">
		                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<h3 style="text-decoration: underline; font-family: 'TuFuenteEspecial', sans-serif;">La satisfacción de los clientes:</h3>
						</div>
						</div>
						<br>
						<br>
		            <div class="row">
		                <div class="col-sm-4 text-center">
		                    <div class="feature boxed cast-shadow-light"> 
		                        <img alt="Cliente de pizza party" class="image-small inline-block mb24" src="/images/jpg/Eliana Gonzalez.png" style="width: 250px; height: auto;">
		                        <h4>"Profesores profesionales"</h4>
		                        <p>Los mejores Personal, muy recomendados.<br></p>
		                        <span><b>Eliana Gonzalez</b></span>
		                    </div>
		                </div>
		                <div class="col-sm-4 text-center">
		                    <div class="feature boxed cast-shadow-light">
		                        <img alt="Cliente de pizza party 1" class="image-small inline-block mb24" src="/images/jpg/Pablo Mirantes.png" style="width: 250px; height: auto;">
		                        <h4>"Una verdadera fiesta"</h4>
		                        <p>
		                            Comence con 3 dias por semana, y aumente a 4, me encantan las rutinas que ofrecen.<br></p>
		                        <span><b>Pablo Mirante</b></span>
		                    </div>
		                </div><div class="col-sm-4 text-center">
		                    <div class="feature boxed cast-shadow-light">
		                        <img alt="Cliente de pizza party 2" class="image-small inline-block mb24" src="/images/jpg/Jose Alvarez.png" style="width: 250px; height: auto;">
		                        <h4>"Servicio de 10"</h4>
		                        <p>Lo recomiendo, Los profes estan detras de todo, me siento muy comodo con la rutina y el plan alimentario!</p>
		                        <span><strong>Jose Alvarez</strong></span>
		                    </div>
		                </div>
		                
		            </div>
		            
		        </div>
		        
		    </section>
			
						<footer class="bg-primary pt96 pb96 pt-xs-48 pb-xs-48">
				<div class="container">
					<div class="row mb64 mb-xs-32">
						<div class="col-md-5 text-right text-left-xl">
							<h2 class="uppercase bold italic">CONVERTI TU CUERPO</h2>
						</div>
						<div class="col-md-2 hidden-sm hidden-xs text-center pt48">
							<i class="icon display-block fa fa-thumbs-o-up icon-lg"></i>
						</div>
						<div class="col-md-5 col-sm-6">
							<p class="lead">Estamos listos para comenzar con tu PLAN!</p>
							<h4 class="mb8">Móvil: <a style="color: black;" >11 3113-7755 / 11 2339-8463</a>
		<br>Whatsapp: <a style="color: black;" href="https://wa.me/5491131137755">11 3113-7755</a>
		<br>Whatsapp: <a style="color: black;" href="https://wa.me/5491123398463">11 2339-8463</a>
		<br>Email: <a style="color: black;" href="mailto:personal.fit@gmail.com">personal.fit@gmail.com</a>
		<br></h4>									
							<h4 class="mb0">IG: <a style="color: black;" href="https://www.instagram.com/personal.fit-net/" rel="noopener,noreferrer,nofollow">@personal.fit-net</a></h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<p class="fade-1-4">Los planes mas buscados © 2024 | San Miguel, Buenos Aires | Argentina <a href="https://shakeitup.com.ar/blog-de-notas/">Blog</a></p>
						</div>
					</div>
				</div>
			</footer>

						
		</div>
		
				
	<script src="js/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>		 
        <script src="js/smooth-scroll.min.js"> </script>  
        <script src="js/parallax.js"></script>
        <script src="js/scripts-gads.js"></script>
		<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        
        
    <!--Whatsapp-->
		
		<div style="bottom: 12px;right: 12px;position: fixed;z-index: 999999999999999999999999;text-align: center;">
			<a href="https://wa.me/5491131137755" target="blank" class="pulse-button" rel="noopener,noreferrer,nofollow">
				<img src="https://pizzapartyotr.com.ar/wp-content/uploads/2018/11/whatsapp-boton.png" alt="whatsapp SHAKE IT UP">
			</a>
		</div>
        
    </body>
</html>